.card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 10px 20px #00000088;
  flex-direction: column !important;
  text-align: left;
}

@media (max-width: 700px) {
  .card {
    flex-direction: column !important;
  }
  .card > .img-container {
    width: 100% !important;
  }
}

.card > .img-container {
  width: 100%;
  text-align: center;
  background: lightblue;
  padding: 0.5rem;
}
.card > .img-container > img {
  width: 100%
}

.card > .content {
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  color: hsl(219, 30%, 33%);
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: hsl(219, 100%, 29%);
}
